
body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
	top: 0;
	left: 0;	
  right: 0;
  bottom: 0;
	z-index: -1;

}

.content {
  position: fixed;
	padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;

}

#toggleer {
	color: white;
}

#tamburo{
	position: fixed;
	top:100px;
	
}


ul{
	color: white;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
    text-decoration: none;
    color: white;
}


